[Unit]
Description=Number of people on Wifi to Graphite
After=network.target

[Service]
Type=simple
Restart=on-failure
RestartSec=2s
ExecStart=/bin/bash /opt/mqtt/listener/wifi-graphite.sh
User=nobody
Group=nogroup

[Install]
WantedBy=multi-user.target
